:root {
  /*root is a pseudo-class that I'm using to declare variables*/
  --darkFloatingColor: rgba(11, 11, 11, 0.85);
}

body {
  background: rgb(34, 34, 34);
  width: 100%;
}

.imageWithQuote {
  width: 20%;
  margin: 0 auto;
  margin-top: 4%;
}

#AnsonDescription {
  word-wrap: break-word;
  align-self: center;
  text-align: center;
  font-style: italic;
  font-size: 1.3em;
  padding-top: 1%;
  color: #003154;
}

img {
  width: 100%;
}

.movie {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.movieTitle {
  font-family: 'Cinzel', serif;
  color: white;
  font-size: 3em;
  padding: 2%;
}

.embed-responsive {
  width: 70%;
}

hr {
  width: 80%;
  border-top: 1px solid rgba(255, 255, 255, 0.24);
  margin: 1em 0;
}

.masonry {
  padding-top: 1%;
  column-count: 4;
  column-gap: 1em;
}

.masonry-item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.bg-dark {
  /*To override Bootstrap's .bg-dark*/
  background: var(--darkFloatingColor) !important;
}

#centerNavbar {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  width: 100%;
  box-shadow: 0px 0px 20px 2px var(--darkFloatingColor);
}

.topNavbar {
  margin: 0;
  position: relative;
  top: 0%;
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  width: 100%;
  box-shadow: 0px 0px 20px 2px var(--darkFloatingColor);
}

.navbar-brand {
  font-family: 'Cinzel', serif;
  font-size: 2.1em;
  margin: auto;
  word-spacing: 15px;
}

.navbar-collapse {
  margin: auto;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

.navbar-nav {
  margin: auto;
  width: 100%;
  justify-content: flex-end !important;
}

#frontPageNavbar {
  margin: auto;
  width: 100%;
  justify-content: center !important;
}

li {
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'Cinzel', serif;
}

#slimBox {
  border-style: solid;
  border-width: thin;
  padding-left: 1%;
  padding-right: 1%;
}

.lightBottomBar {
  border-bottom: thin solid rgba(255, 255, 255, 0.71);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--darkFloatingColor);
  color: white;
  text-align: center;
  padding: 1%;
  box-shadow: 0px -2px 20px 1px var(--darkFloatingColor);
}

div a {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

div a:hover {
  color: rgba(255, 255, 255, 0.63);
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 6em;
  text-align: center;
  color: #ff3333;
  margin: 1%;
}

.fancyCenterText {
  word-wrap: break-word;
  align-self: center;
  text-align: center;
  font-style: italic;
  font-size: 2em;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 1%;
  color: #fffce6;
}

.Name {
  align-self: center;
  text-align: center;
  font-style: italic;
  font-size: 2em;
  padding-left: 20%;
  color: #003154;
}

.frontPageContainer {
  position: relative;
  text-align: center;
  color: white;
}

#homePage {
  background: url("/images/TyrantHandSpaceship.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width:1025px) {
  .imageWithQuote {
    width: 70%;
    margin: 0 auto;
    margin-top: 4%;
  }

  #AnsonDescription {
    word-wrap: break-word;
    align-self: center;
    text-align: center;
    font-style: italic;
    font-size: 1.6em;
    padding-top: 1%;
    color: #003154;
  }

  .Name {
    align-self: center;
    text-align: center;
    font-style: italic;
    font-size: 2em;
    padding-left: 20%;
    color: #003154;
  }

  #homePage {
    background-image: url("/images/0826181925_HDR.jpg");
    background-size: 140%;
    height: 100%;
    background-repeat: no-repeat;
  }

  .masonry {
    padding-top: 1%;
    column-count: 2;
    column-gap: 1em;
  }

  .masonry-item {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }

  h1 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    color: #121212;
    margin: 3%;
  }

  .fancyCenterText {
    word-wrap: break-word;
    align-self: center;
    text-align: center;
    font-style: italic;
    font-size: 2em;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 1%;
    color: #fc4444;
  }
}